#bgAll {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    background-size:cover;
    position:fixed;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#Container {
    position: relative;
    width: 50%;
}
#Container img {
    width: 100%;
    height: auto;
}
#Container #btn  {
    position: absolute;
    top:420px;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

   
